* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1c1c;
    color: white;


}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 5px;

    width: 300px;
    height: 300px;
    margin: 0;
    translate: -5vw;
}

.grid-item {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 45px;
    height: 45px;
    text-align: center;

    font-size: 16px;
    background-color: #3f6e8d;
    /* border: 1px solid #2980b9; */
    /* box-sizing: border-box; */
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        /* background-color: red; */
    }
}

.selecionado {
    /* background-color: orange; */
    transition: 0.5s;
    animation: explode alternate-reverse 0.5s;
}

.clicado {
    /* background-color: black; */
    /* filter: contrast(150%);
     */
     background-color: orange;
}

@keyframes explode {
    to {
       translate: 0 -100px;
       opacity: 0%;
       background-color: orange;
    }
}